body {
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

img {
    text-align: center;
}

.hero {
    display: flex;
    flex-direction: column;
    padding: 24px 175px 80px;
    gap: 48px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.awesomeness {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px 1px;
}

.sauce {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.hero, .footer {
    background-color: #1F2937;
}

.declaration {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.logo, .call {
    font-size: 24px;
    color: #F9FAF8;
}

.subtext, .header a {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 600;
}

.header-links {
    display: flex;
    gap: 15px;
}

.signup {
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: 900;
    width: 100px;
    height: 30px;
    border-color: #E5E7EB;
}

.awesome-pic {
    background-color: grey;
    color: #F9FAF8;
    height: 275px;
}

.random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 250px 80px;
    gap: 48px;
}

.random-images {
    display: flex;
    justify-content: space-between;
    gap: 18px;
}

.random-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.card {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    justify-content: baseline;
    align-items: center;
    gap: 10px;
}

.box-image {
    outline-style: solid;
    outline-width: 4px;
    outline-color: #3882f6;
}

.card-subtext {
    font-size: 18px;
    text-align: center;
}

.smooth {
    border-radius: 10px;
}

.nice-filler {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px 300px;
    justify-content: space-between;
}

.quote, .source {
    color: #1F2937;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    align-items: baseline;
}

.source {
    font-size: 24px;
    font-weight: 600;
    align-self: flex-end;
    padding: 15px 100px;
}

.action {
    padding: 100px 200px;
}

.action-box {
    display: flex;
    background-color: #3882f6;
    padding: 60px 80px;
    justify-content: space-between;
    align-items: center;
}

.footer {
    display: flex;
    padding: 15px;
    min-height: 70px;
    justify-content: center;
    align-items: center;
}

.awesomeness .subtext {
    width: 600px;
}